# Ambientes virtuais
.venv/
venv/
env/
ENV/
__pycache__/

# Banco de Dados
*.db
*.sqlite
*.sqlite3

# Cache de pytest
.pytest_cache/
pytest.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Python
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Logs
*.log

# Temporários
.tmp/
temp/
